###############################################################################
# Start of default configs
###############################################################################

  #####################################
  # Container base defaults
  #####################################
  # Max Usage Limits
x-limits: &limits
  mem_limit: ${MEM_LIMIT:-2G} # Override per container if necessary
  memswap_limit: ${MEM_SWAP_LIMIT:-2.5G}
  mem_reservation: ${MEM_RESERVATION:-64M}
  pids_limit: ${PIDS_LIMIT:-200}
  cpus: ${CPUS_LIMIT:-2} # Set below the total number of cores, for example 3.5 for 4 cores

  # Restart Settings
x-restart: &restart
  stop_grace_period: ${RESTART_GRACE:-1m}
  restart: ${RESTART_MODE:-unless-stopped}

  # Configure security
x-security: &security
  security_opt:
   - no-new-privileges=${NO_NEW_PRIVILEGES:-true}

  # Configure User
x-user: &user
  user: ${PUID:-1000}:${PGID:-1000}

  # Configure Logging
x-logging: &logging
  logging:
    options:
      max-size: ${LOG_MAX_SIZE:-10m}
      max-file: ${LOG_MAX_FILE:-3}

  ## All base defaults in one
x-base: &default-base
  <<: [*limits, *restart, *security, *user, *logging]

  #####################################
  # Container healthcheck defaults
  #####################################
x-healthcheck: &default_healthcheck
  interval: ${HEALTH_INTERVAL:-60s}
  timeout: ${HEALTH_TIMEOUT:-10s}
  retries: ${HEALTH_RETRIES:-5}
  start_period: ${HEALTH_START:-10s}
  
  #####################################
  # Container environment defaults
  #####################################
x-environment-tz: &environment_tz
  TZ: ${TZ:-America/Chicago}

x-environment-user: &environment_user
  PUID: ${PUID:-1000}
  PGID: ${PGID:-1000}

  ## All environment defaults in one
x-environment: &default_environment
  <<: [*environment_tz, *environment_user]

###############################################################################
# Start of stack config
###############################################################################
# Project Name
name: ${PROJECT_NAME}

networks:
  proxy:
    name: ${PROXY_NETWORK}
    external: true
  frontend:
    name: ${PROJECT_NAME}_frontend
    internal: false
    driver_opts:
      encrypted: "true"
  backend:
    name: ${PROJECT_NAME}_backend
    internal: true
    driver_opts:
      encrypted: "true"
#  socket_proxy:
#    name: ${PROJECT_NAME}_socket_proxy
#    internal: true
#    driver_opts:
#      encrypted: "true"

# Include Agent services with server
include:
  - ../agent/compose.yaml

services:
  # VictoriaMetrics instance, a single process responsible for
  # scraping, storing metrics and serve read requests.
  victoriametrics:
    <<: [*limits, *restart, *security, *user, *logging]
    image: victoriametrics/victoria-metrics:v1.129.1
    hostname: victoriametrics.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}-metrics
    command:
      - "--storageDataPath=/storage"
      - "--promscrape.config=/etc/prometheus/prometheus.yml"
      - "--vmalert.proxyURL=http://vmalert:8880"
    #ports:
    #  - "8428:8428"
    environment:
      <<: [*environment_tz, *environment_user]
      SERVER_ADDRESS: ${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}
    volumes:
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/victoriametrics-data:/storage
      - ./victoriametrics-config/prometheus-vl-single.yml:/etc/prometheus/prometheus.yml
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.$PROJECT_NAME-rtr.rule=
        Host(`${SERVICE_NAME}-metrics.${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-metrics.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-metrics.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}.${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      - "traefik.http.routers.$PROJECT_NAME-rtr.middlewares=chain-authentik@file"
        ## HTTP Services
      - "traefik.http.services.$PROJECT_NAME-svc.loadbalancer.server.port=8428"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
    #  - frontend
      - backend
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8428/health"]
      <<: *default_healthcheck

  #  VictoriaLogs instance, a single process responsible for
  #  storing logs and serving read queries.
  victorialogs:
    <<: [*limits, *restart, *security, *user, *logging]
    image: victoriametrics/victoria-logs:v1.43.1
    hostname: victorialogs.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}-logs
    command:
      - "--storageDataPath=/vlogs"
    #ports:
    #  - "9428:9428"
    environment:
      <<: [*environment_tz, *environment_user]
    volumes:
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/victorialogs-data:/vlogs
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.victorialogs-rtr.rule=
        Host(`${SERVICE_NAME}-logs.${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-logs.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-logs.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`victorialogs.${DOMAIN_NAME}`) ||
        Host(`victorialogs.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`victorialogs.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      - "traefik.http.routers.victorialogs-rtr.middlewares=chain-authentik@file"
        ## HTTP Services
      - "traefik.http.services.victorialogs-svc.loadbalancer.server.port=9428"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
    #  - frontend
      - backend
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:9428/health"]
      <<: *default_healthcheck

  #  VictoriaTraces instance, a single process responsible for
  #  storing trace span and serving read queries.
  victoriatraces:
    <<: [*limits, *restart, *security, *user, *logging]
    image: 'docker.io/victoriametrics/victoria-traces:latest'
    hostname: victoriatraces.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}-traces
    command:
      - "--storageDataPath=/vtraces"
    #ports:
    #  - "10428:10428"
    environment:
      <<: [*environment_tz, *environment_user]
    volumes:
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/victoriatraces-data:/vtraces
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.victoriatraces-rtr.rule=
        Host(`${SERVICE_NAME}-traces.${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-traces.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-traces.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`victoriatraces.${DOMAIN_NAME}`) ||
        Host(`victoriatraces.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`victoriatraces.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      - "traefik.http.routers.victoriatraces-rtr.middlewares=chain-authentik@file"
        ## HTTP Services
      - "traefik.http.services.victoriatraces-svc.loadbalancer.server.port=10428"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
    #  - frontend
      - backend
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:10428/health"]
      <<: *default_healthcheck

#  # vmauth is a router and balancer for HTTP requests.
#  # It proxies query requests from vmalert to either VictoriaMetrics or VictoriaLogs,
#  # depending on the requested path.
  vmauth:
    <<: [*limits, *restart, *security, *user, *logging]
    image: victoriametrics/vmauth:v1.129.1
    hostname: vmauth.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}-vmauth
    command:
      - "--auth.config=/etc/auth.yml"
      - "--httpAuth.username=${VMAUTH_USER}"
      - "--httpAuth.password=${VMAUTH_PASS}"
    #ports:
    #  - 8427:8427
    environment:
      <<: [*environment_tz, *environment_user]
    volumes:
      - ./vmauth-config/auth-vl-single.yml:/etc/auth.yml 
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.$PROJECT_NAME-vmauth-rtr.rule=
        Host(`${SERVICE_NAME}-auth.${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-auth.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-auth.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-auth.${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-auth.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-auth.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      - "traefik.http.routers.$PROJECT_NAME-vmauth-rtr.middlewares=chain-no-auth@file"
        ## HTTP Services
      - "traefik.http.services.$PROJECT_NAME-vmauth-svc.loadbalancer.server.port=8427"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
      - frontend
      - backend
    depends_on:
      victorialogs:
        condition: service_healthy
      victoriametrics:
        condition: service_healthy
    healthcheck: 
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8427/health"]
      <<: *default_healthcheck

#  # vmalert executes alerting and recording rules according to the given rule type.
  vmalert:
    <<: [*limits, *restart, *security, *user, *logging]
    image: victoriametrics/vmalert:v1.129.1
    hostname: vmalert.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}-vmalert
    command:
      # it evaluates data against VictoriaMetrics and VictoriaLogs
      # vmauth routes queries to corresponding datasource based on API path
      - "--datasource.url=http://vmauth:8427/"
      - "--datasource.basicAuth.username=${VMAUTH_USER}"
      - "--datasource.basicAuth.password=${VMAUTH_PASS}"
      # results of alerting and recording rules are persisted to VictoriaMetrics only
      - "--remoteWrite.url=http://victoriametrics:8428/"
      # alerts state is restored from VictoriaMetrics on restarts
      - "--remoteRead.url=http://victoriametrics:8428/"
      - "--notifier.url=http://alertmanager:9093/"
      - "--rule=/etc/alerts/*.yml"
      # display source of alerts in grafana
      - "--external.url=http://127.0.0.1:3000" #grafana outside container
      - '--external.alert.source=explore?orgId=1&left={"datasource":"{{ if eq .Type "vlogs" }}VictoriaLogs{{ else }}VictoriaMetrics{{ end }}","queries":[{"expr":{{.Expr|jsonEscape|queryEscape}},"refId":"A"}],"range":{"from":"{{ .ActiveAt.UnixMilli }}","to":"now"}}'
    #ports:
    #  - 8880:8880
    environment:
      <<: [*environment_tz, *environment_user]
    volumes:
      - ./vmalert-config:/etc/alerts:ro
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.$PROJECT_NAME-vmalert-rtr.rule=
        Host(`${SERVICE_NAME}-alert.${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-alert.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-alert.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-alert.${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-alert.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-alert.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      - "traefik.http.routers.$PROJECT_NAME-vmalert-rtr.middlewares=chain-authentik@file"
        ## HTTP Services
      - "traefik.http.services.$PROJECT_NAME-vmalert-svc.loadbalancer.server.port=8880"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
    #  - frontend
      - backend
    depends_on:
      vmauth:
        condition: service_healthy
      victoriametrics:
        condition: service_healthy
      victorialogs:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8880/health"]
      <<: *default_healthcheck

  # Grafana instance configured with VictoriaLogs as datasource
  grafana:
    <<: [*limits, *restart, *security, *user, *logging]
    image: grafana/grafana:12.2.1
    hostname: grafana.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}-grafana
    #ports:
    #  - 3000:3000
    environment:
      <<: [*environment_tz, *environment_user]
      VMAUTH_USER: ${VMAUTH_USER}
      VMAUTH_PASS: ${VMAUTH_PASS}
      GF_PLUGINS_PREINSTALL: victoriametrics-logs-datasource, victoriametrics-metrics-datasource
      GF_INSTALL_PLUGINS: victoriametrics-logs-datasource, victoriametrics-metrics-datasource
    volumes:
      - ${DOCKER_VOLUMES}/${PROJECT_NAME}/grafana-data:/var/lib/grafana
      - ./grafana-config/datasources/victoriametrics.yml:/etc/grafana/provisioning/datasources/victoriametrics.yml
      - ./grafana-config/provisioning:/etc/grafana/provisioning/dashboards
      - ./grafana-config/dashboards:/var/lib/grafana/dashboards
      #- ./grafana-config/dashboards/victorialogs.json:/var/lib/grafana/dashboards/vl.json
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.$PROJECT_NAME-grafana-rtr.rule=
        Host(`grafana.${DOMAIN_NAME}`) ||
        Host(`grafana.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`grafana.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-grafana.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      - "traefik.http.routers.$PROJECT_NAME-grafana-rtr.middlewares=chain-no-auth@file"
        ## HTTP Services
      - "traefik.http.services.$PROJECT_NAME-grafana-svc.loadbalancer.server.port=3000"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
      - frontend # For internet access for dashboard and plugin downlaods, and for external datasources.
      - backend
    depends_on:
      victorialogs:
        condition: service_healthy
      victoriametrics:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:3000/api/health"]
      <<: *default_healthcheck

  # alertmanager receives alerting notifications from vmalert
  # and distributes them according to --config.file.
  alertmanager:
    <<: [*limits, *restart, *security, *logging]
    image: prom/alertmanager:v0.28.1
    hostname: alertmanager.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}  
    container_name: ${PROJECT_NAME}-alertmanager
    command:
      - "--config.file=/config/alertmanager.yml"
    #ports:
    #  - 9093:9093
    environment:
      <<: [*environment_tz, *environment_user]
    volumes:
      - ./alertmanager-config/alertmanager.yml:/config/alertmanager.yml
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${PROXY_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.$PROJECT_NAME-alertmanager-rtr.rule=
        Host(`${SERVICE_NAME}-alertmanager.${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-alertmanager.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${SERVICE_NAME}-alertmanager.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`) ||
        Host(`${PROJECT_NAME}-alertmanager.${SERVER_NAME}.${SUB_DOMAIN_NAME}${DOMAIN_NAME}`)"
        ## Middlewares
      - "traefik.http.routers.$PROJECT_NAME-alertmanager-rtr.middlewares=chain-authentik@file"
        ## HTTP Services
      - "traefik.http.services.$PROJECT_NAME-alertmanager-svc.loadbalancer.server.port=9093"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - proxy
    #  - frontend
      - backend
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:9093/-/healthy"]
      <<: *default_healthcheck